<ul>
  <% locals.items.forEach((item) => { %>
    <li>
      <a href="<%= item.url %>"><%= item.name %></a>
      <div>Category: <%= item.category.name %></div>
      <div>Price: $<%= item.price.toFixed(2) %></div>
      <div>Units left: <%= item.units %></div>
      <p><%= item.description %></p>
    </li>
  <% }) %>
</ul>