<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>

  <main>
    <h1><%= locals.title %></h1>
    
    <form class="flex-column gap-16" method="post">
      <div class="form-group">
        <label for="name">Name *</label>
        <input id="name" name="name" type="text" value="<%= locals.name %>" placeholder="Technology, etc." minlength="<%= constants["category-name-min-length"] %>" maxlength="<%= constants["category-name-max-length"] %>" required />
        <% if (locals.errors && locals.errors.name) { %>
          <div class="mt-4 error"><%= locals.errors.name.msg %></div>
        <% } %>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Find the best technology items." maxlength="<%= constants["category-description-max-length"] %>" cols="30" rows="10"><%= locals.description %></textarea>
        <% if (locals.errors && locals.errors.description) { %>
          <div class="mt-4 error"><%= locals.errors.description.msg %></div>
        <% } %>
      </div>

      <div class="form-group">
        <label for="password">Password *</label>
        <input id="password" name="password" type="password" value="<%= locals.password %>" placeholder="Insert password here..." required />
        <% if (locals.errors && locals.errors.password) { %>
          <div class="error"><%= locals.errors.password.msg %></div>
        <% } %>
      </div>

      <div>* means required</div>

      <button><%= locals.submitButtonText %></button>
    </form>
  </main>
</body>

</html>