<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>

  <main class="category-detail">
    <h1 class="mb-16"><%= locals.title %></h1>
    
    <% if (!locals.category) { %>
      <p>The category you're looking for does not exist.</p>
    <% } else { %>
      <% if (category.description) { %>
        <h4>Description</h4>
        <p class="category-description mb-16"><%= category.description %></p>
      <% } %>

      <div class="buttons-flex-wrap">
        <form action="/item/create" method="post">
          <input type="hidden" name="category" value="<%= category._id %>" />
          <input type="hidden" name="referred" value="<%= true %>" />
          <button type="submit" role="link">Create a new item for this category</button>
        </form>
        <a class="button" href="<%= category.url %>/update">Update this category</a>
        <a class="button" href="<%= category.url %>/delete">Delete this category</a>
      </div>

      <h2>Items in this category</h2>
      <% if (locals.items.length) { %>
        <%- include('partials/item_list') %>
      <% } else { %>
        <p>There are no items in this category.</p>
      <% } %>
    <% } %>
  </main>
</body>

</html>