<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>
  
  <main>
    <h1 class="mb-8"><%= locals.title %></h1>
    <a class="mb-16 button" href="/category/create">Create new category</a>

    <% if (locals.categories && locals.categories.length) { %>
      <ul class="category-list">
        <% locals.categories.forEach((category) => { %>
          <li class="category-card">
            <a class="category-name" href="<%= category.url %>"><%= category.name %></a>
            <p class="category-description"><%= category.description %></p>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>There are no categories.</p>
    <% } %>
  </main>
</body>

</html>
