<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>

  <main class="delete-view">
    <h1><%= locals.title %></h1>
    
    <% if (!locals.category) { %>
      <p>The category you're looking for does not exist.</p>
    <% } else { %>
      <form action="<%= category.url %>/delete" method="post">
        <h3><%= category.name %></h3>
        
        <div class="form-group">
          <label for="password">Enter password to delete this category</label>
          <input id="password" name="password" type="password" value="<%= locals.password %>" placeholder="Insert password here..." required />
          <% if (locals.errors && locals.errors.password) { %>
            <div class="error"><%= locals.errors.password.msg %></div>
          <% } %>
        </div>

        <button class="mt-16 delete-btn">Delete this category</button>
      </form>
    <% } %>
  </main>
</body>

</html>