<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>

  <main>
    <h1><%= locals.title %></h1>
    
    <% if (!locals.category) { %>
      <p>The category you're looking for does not exist.</p>
    <% } else { %>
      <form action="/item/create" method="post">
        <input type="hidden" name="category" value="<%= category._id %>" />
        <input type="hidden" name="referred" value="<%= true %>" />
        <button type="submit" role="link">Create a new item for this category</button>
      </form>
      <%- include('partials/item_list') %>
    <% } %>
  </main>
</body>

</html>