<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>
  
  <main>
    <h1><%= locals.message %></h1>
    <p>The page or resource you're looking for does not exist!</p>
  
    <% if (locals.error) { %>
      <h2><%= locals.error.status %></h2>
      <pre><%= locals.error.stack %></pre>
    <% } %>
  </main>
</body>

</html>