<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>

  <main>
    <h1>
      <%= locals.title %>
    </h1>

    <p>Welcome to my implementation of the <a class="underline" href="https://www.theodinproject.com/lessons/nodejs-inventory-application" target="_blank" rel="noopener noreferrer">Inventory Application project from The Odin Project</a>!</p>
    <For>If you want to add/update/delete new items and/or categories, the password is: <em class="bold">inventory2024</em>. For safety reasons, uploading an image is disabled by default, DM me on Discord if you want the password that has upload permission. My username is <em class="bold">zekumoru</em>.</p>

    <h2>Stats</h2>
    <p>Total items: <%= locals.itemsCount %></p>
    <p>Total categories: <%= locals.categoriesCount %></p>

    <h2>Credits</h2>
    <p>Favicon image from <a class="underline" rel="noreferrer noopener" href="https://www.flaticon.com/free-icons/empty" title="empty icons">Empty icons created by Freepik - Flaticon</a></p>
    <p><a class="underline" href="https://github.com/Zekumoru/inventory-app" target="_blank" rel="noopener noreferrer">Click here to go to this website's GitHub repository.</a></p>
  </main>
</body>

</html>