<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>

  <main>
    <h1>
      <%= locals.title %>
    </h1>
    
    <h2>Stats</h2>
    <p>Total items: <%= locals.itemsCount %></p>
    <p>Total categories: <%= locals.categoriesCount %></p>

    <h2>Credits</h2>
    <p>This website is created by Zekumoru.</p>
    <p>Favicon image from <a class="underline" rel="noreferrer noopener" href="https://www.flaticon.com/free-icons/empty" title="empty icons">Empty icons created by Freepik - Flaticon</a></p>
  </main>
</body>

</html>